<!DOCTYPE html>
<html>
<head>
<title>黄和飞</title>
<!-- 中文乱码 -->
<meta charset="UTF-8">
<!--适配IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 适配移动端 -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!-- fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=cyrillic"
	rel="stylesheet">
<!-- jquery消息提示插件 -->
<link href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.css"
	rel="stylesheet">
<script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
<!-- 图标字体库和CSS框架 -->
<link
	href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
<!-- jquery幻灯片插件 -->
<link href="https://cdn.bootcss.com/owl-carousel/1.32/owl.carousel.css"
	rel="stylesheet">
<script
	src="https://cdn.bootcss.com/owl-carousel/1.32/owl.carousel.min.js"></script>
<!-- 预设css3动画库 -->
<link href="https://cdn.bootcss.com/animations/2.1/css/animations.css"
	rel="stylesheet">
<!-- jquery对话框插插件 -->
<link
	href="https://cdn.bootcss.com/magnific-popup.js/1.1.0/magnific-popup.css"
	rel="stylesheet">
<script
	src="https://cdn.bootcss.com/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
<!-- Favicons -->
<link rel="shortcut icon" href="../static/images/favicon.png">

<!-- jquery文本打字显示插件 -->
<script src="../static/js/typed.js"></script>
<!-- jquery显示插件 -->
<script
	src="https://cdn.bootcss.com/jquery.appear/0.4.1/jquery.appear.js"></script>
<!-- 图片加载插件 -->
<script
	src="https://cdn.bootcss.com/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
<!-- jquery分类过滤和排序布局插件 -->
<script
	src="https://cdn.bootcss.com/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
<!-- jquery滚动监听插件 -->
<script
	src="https://cdn.bootcss.com/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<!-- jquery轻量级数字动画插件 -->
<script
	src="https://cdn.bootcss.com/Counter-Up/1.0.0/jquery.counterup.min.js"></script>

<link rel="stylesheet" href="../static/css/home.css">
</head>
<body>

	<!--preloader starts-->
	<div class="loading">
		<div class="sk-folding-cube">
			<div class="sk-cube1 sk-cube"></div>
			<div class="sk-cube2 sk-cube"></div>
			<div class="sk-cube4 sk-cube"></div>
			<div class="sk-cube3 sk-cube"></div>
		</div>
	</div>
	<!-- End Preloader -->

	<div class="page">
		<!-- Header -->
		<header class="header">

			<!-- logo -->
			<div class="logo">
				<a href=""><span>HF</span></a>
			</div>

			<!-- menu -->
			<div class="top-menu">
				<ul>
					<li class="active"><a href="#home-section"> <span
							class="icon fa fa-home"></span> <span class="link">Home</span>
					</a></li>
					<li><a href="#about-section"> <span
							class="icon fa fa-user"></span> <span class="link">About</span>
					</a></li>
					<li><a href="#resume-section"> <span
							class="icon fa fa-gear"></span> <span class="link">Resume</span>
					</a></li>
					<li><a href="#works-section"> <span class="icon fa fa-eye"></span>
							<span class="link">Project</span>
					</a></li>
					<li><a href="#blog-section"> <span
							class="icon fa fa-newspaper-o"></span> <span class="link">Blog</span>
					</a></li>
					<li><a href="#contacts-section"> <span
							class="icon fa fa-envelope"></span> <span class="link">Contacts</span>
					</a></li>
				</ul>
			</div>

			<!-- Started socials -->
			<div class="social">
				<a target="_blank" href="https://github.com/"><span class="icon fa fa-github"></span></a>
				<a target="_blank" href="https://weibo.com/"><span class="icon fa fa-weibo"></span></a>
				<a target="_blank" href="https://blog.csdn.net/hhf06"><span class="icon fa fa-code"></span></a>
				<a target="_blank" href="http://www.facebook.com/"><span class="icon fa fa-facebook"></span></a>
				<a target="_blank" href="http://www.twitter.com/"><span class="icon fa fa-twitter"></span></a>
				<a target="_blank" href="https://www.instagram.com/"><span class="icon fa fa-linkedin"></span></a>
			</div>

			<!-- Mobile Menu -->
			<span class="menu-btn"> <span class="m-line"></span>
			</span>

		</header>

		<!-- Home section -->
		<div class="home-inner hero-sec active " id="home-page">
			<!-- Started Background -->
			<div id="particles-bg" class="slide"
				style="background-image: url(../static/images/bg.jpg);"></div>
			<div class="centrize full-width">
				<div class="vertical-center">

					<!-- Started titles -->
					<div class="title">
						<span>Hefei</span> Huang
					</div>
					<div class="subtitle">
						I am
						<div class="typing-title">
							<p>
								a <strong>programmer.</strong>
							</p>
							<p>
								a <strong>basketball enthusiast.</strong>
							</p>
							<!--<p>
								a <strong>web developer.</strong>
							</p>
							<p>
								a <strong>photographer.</strong>
							</p> -->
						</div>
						<span class="typed-title"></span>
					</div>
				</div>
			</div>

		</div>


		<div id="about-section" class="panel about-me">
			<div class="section-container">
				<div class="page-heading container">
					<span class="icon"><i class="fa fa-user"></i></span>
					<h2>About Me</h2>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-12">
							<img src="" alt="img about" class="about img-fluid" id="portrait">
						</div>
						<div class="col-lg-8 col-md-12">
							<h2 class="title-about-me" id="name"></h2>
							<h3 class="sub-title-about-me" id="profession"></h3>
							<br />
							<p id="intro"></p>
							<a href="#resume-section" class="btn-medium-color">Download
								CV</a> <a href="#works-section" class="btn-medium-border">Project</a>
						</div>
					</div>
				</div>
				<div class="services" id="services">
					<h2 class="text-center">Services</h2>
					<div class="container">
						<div class="row">
							<!-- Box-1 -->
							<div class="col-md-6 col-lg-4">
								<div class="box">
									<span class="fa fa-android"></span>
									<h3>Android App</h3>
									<p>安卓APP</p>
								</div>
							</div>
							<!-- Box-2 -->
							<div class="col-md-6 col-lg-4">
								<div class="box">
									<span class="fa fa-apple"></span>
									<h3>Apple APP</h3>
									<p>苹果APP</p>
								</div>
							</div>
							<!-- Box-3 -->
							<div class="col-md-6 col-lg-4">
								<div class="box">
									<span class="fa fa-weixin"></span>
									<h3>Mini Program</h3>
									<p>微信小程序</p>
								</div>
							</div>
							<!-- Box-4 -->
							<div class="col-md-6 col-lg-4">
								<div class="box">
									<span class="fa fa-user-circle"></span>
									<h3>Official Accounts</h3>
									<p>微信公众号</p>
								</div>
							</div>
							<!-- Box-5 -->
							<div class="col-md-6 col-lg-4">
								<div class="box">
									<span class="fa fa-chrome"></span>
									<h3>Web</h3>
									<p>PC端网页</p>
								</div>
							</div>
							<!-- Box-6 -->
							<div class="col-md-6 col-lg-4">
								<div class="box">
									<span class="fa fa-html5"></span>
									<h3>Html5</h3>
									<p>移动端网页</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--Clients-->
				<!-- <section class="clients">
					<h2 class="text-center">My lovely clients</h2>
					<div class="container">
						Logo Carousel Widget
						<div class="owl-carousel owl-theme">
							<a href="#"><img src="../static/images/clients/1.png"
								class="img-resposnive" alt="BBC News" /></a> <a href="#"><img
								src="../static/images/clients/2.png" class="img-resposnive"
								alt="The Gardian" /></a> <a href="#"><img
								src="../static/images/clients/3.png" class="img-resposnive"
								alt="TNW" /></a> <a href="#"><img
								src="../static/images/clients/4.png" class="img-resposnive"
								alt="Wired" /></a> <a href="#"><img
								src="../static/images/clients/5.png" class="img-resposnive"
								alt="Mashable" /></a> <a href="#"><img
								src="../static/images/clients/6.png" class="img-resposnive"
								alt="TEDx" /></a>
						</div>
					</div>
				</section> -->
				<!--Clients Close-->
				<!-- <div class="some-facts">
					<h2 class="text-center">Fun Facts</h2>
					<div class="container text-center">
						<div class="row">
							Box-1
							<div class="col-md-6 col-lg-3">
								<div class="items">
									<span class="fa fa-skyatlas"></span>
									<h3>
										<span class="counter">9</span>
									</h3>
									<div class="line mx-auto"></div>
									<h4>Happy Clients</h4>
								</div>
							</div>
							Box-2
							<div class="col-md-6 col-lg-3">
								<div class="items">
									<span class="fa fa-heart-o"></span>
									<h3>
										<span class="counter">24</span>
									</h3>
									<div class="line mx-auto"></div>
									<h4>Projects Compleated</h4>
								</div>
							</div>
							Box-3
							<div class="col-md-6 col-lg-3">
								<div class="items">
									<span class="fa fa-globe"></span>
									<h3>
										<span class="counter">11</span>
									</h3>
									<div class="line mx-auto"></div>
									<h4>Files Downloaded</h4>
								</div>
							</div>
							Box-4
							<div class="col-md-6 col-lg-3">
								<div class="items">
									<span class="fa fa-user"></span>
									<h3>
										<span class="counter">152</span>
									</h3>
									<div class="line mx-auto"></div>
									<h4>Liens Of Code</h4>
								</div>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>
		<div id="resume-section" class="resume-section panel">
			<div class="section-container">
				<div class="page-heading container">
					<span class="icon"><i class="fa fa-gear"></i></span>
					<h2>resume</h2>
				</div>
				<div class="container">

					<div class="row mb-70">
						<!--Education-->
						<div class="col-md-6" id="education">
							<h3 class="subtitle">Education</h3>

							<!-- <div class="item">
								<div class="date">
									<span>2011 - 2013</span>
								</div>
								<div class="content">
									<h4>Educational Specialist</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
										Integer fermentum nibh et metus facilisis sollicitudin.</p>
								</div>
							</div>

							<div class="item">
								<div class="date">
									<span>2005 - 2010</span>
								</div>
								<div class="content">
									<h4>Doctoral Degree</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
										Integer fermentum nibh et metus facilisis sollicitudin.</p>
								</div>
							</div>

							<div class="item">
								<div class="date">
									<span>2001 - 2003</span>
								</div>
								<div class="content">
									<h4>Master Degree</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
										Integer fermentum nibh et metus facilisis sollicitudin.</p>
								</div>
							</div>

							<div class="item">
								<div class="date">
									<span>2012 - 2016</span>
								</div>
								<div class="content">
									<h4>Bachelor Degree</h4>
									<p>ShangHai University</p>
								</div>
							</div> -->

						</div>
						<!--.col-md-6-->

						<!--Work-->
						<div class="col-md-6 mt-50" id="work">
							<h3 class="subtitle">Work</h3>

							<!-- <div class="item">
								<div class="date">
									<span>2017 - Present</span>
								</div>
								<div class="content">
									<h4>Java Developer</h4>
									<p>Shanghai Zhanghong Technology Co., Ltd.</p>
								</div>
							</div>

							<div class="item">
								<div class="date">
									<span>2014 - 2015</span>
								</div>
								<div class="content">
									<h4>Senior Web Developer</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
										Integer fermentum nibh et metus facilisis sollicitudin.</p>
								</div>
							</div>

							<div class="item">
								<div class="date">
									<span>2011 - 2012</span>
								</div>
								<div class="content">
									<h4>Junior Web Developer</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
										Integer fermentum nibh et metus facilisis sollicitudin.</p>
								</div>
							</div>

							<div class="item">
								<div class="date">
									<span>2008 - 2009</span>
								</div>
								<div class="content">
									<h4>Web Developer</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
										Integer fermentum nibh et metus facilisis sollicitudin.</p>
								</div>
							</div> -->

						</div>
						<!--.col-md-6-->
					</div>
					<!--.row-->
					<div class="row mb-30">

						<!--Personel Skills Column Start-->
						<div class="col-md-6 skills" id="personal-skill">
							<div>
								<h3 class="subtitle">Personal Skills</h3>
							</div>

							<!--Personel Skill Item-->
							<!-- <div class="skill-item">
								<h4 class="progress-title">Team Work</h4>
								<div class="progress">
									<div class="progress-bar" data-progress-value="91"
										style="width: 91%;">
										<div class="progress-value">91%</div>
									</div>
								</div>
							</div>

							Personel Skill Item
							<div class="skill-item">
								<h4 class="progress-title">Leadership</h4>
								<div class="progress">
									<div class="progress-bar" data-progress-value="82"
										style="width: 82%;">
										<div class="progress-value">82%</div>
									</div>
								</div>
							</div>

							Personel Skill Item
							<div class="skill-item">
								<h4 class="progress-title">Communication</h4>
								<div class="progress">
									<div class="progress-bar" data-progress-value="94"
										style="width: 94%;">
										<div class="progress-value">94%</div>
									</div>
								</div>
							</div>

							Personel Skill Item
							<div class="skill-item">
								<h4 class="progress-title">Self-study Ability</h4>
								<div class="progress">
									<div class="progress-bar" data-progress-value="98"
										style="width: 98%;">
										<div class="progress-value">98%</div>
									</div>
								</div>
							</div> -->
						</div>
						<!--Personel Skills Column End-->

						<!--Professional Skill Column Start-->
						<div class="col-md-6 skills" id="professional-skill">
							<div>
								<h3 class="subtitle mt-30">Professional Skills</h3>
							</div>

							<!--Professional Skill Item-->
							<!-- <div class="skill-item">
								<h4 class="progress-title">HTML5</h4>
								<div class="progress">
									<div class="progress-bar" data-progress-value="83"
										style="width: 83%;">
										<div class="progress-value">83%</div>
									</div>
								</div>
							</div>

							Professional Skill Item
							<div class="skill-item">
								<h4 class="progress-title">CSS3</h4>
								<div class="progress">
									<div class="progress-bar" data-progress-value="75"
										style="width: 75%;">
										<div class="progress-value">75%</div>
									</div>
								</div>
							</div>

							Professional Skill Item
							<div class="skill-item">
								<h4 class="progress-title">Javascript</h4>
								<div class="progress">
									<div class="progress-bar" data-progress-value="92"
										style="width: 92%;">
										<div class="progress-value">92%</div>
									</div>
								</div>
							</div> -->
						</div>
						<!--Professional Skill Column End-->

					</div>
				</div>
			</div>
		</div>
		<div id="works-section" class="works-section panel">
			<div class="section-container">
				<div class="page-heading container">
					<span class="icon"><i class="fa fa-eye"></i></span>
					<h2>Project</h2>
				</div>

				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="button-group filter-button-group text-center"
								id="projectType">
								<button data-filter="*" class="active">All</button>
								<!-- <button data-filter=".app">App</button>
								<button data-filter=".wechat">WeChat</button>
								<button data-filter=".web">Web</button> -->
							</div>
						</div>
					</div>
					<div class="row grid" id="project">
						<!-- Image-1 -->
						<!-- <div class="col-lg-4 col-md-6 grid-item app">
							<div class="single-works-section-item ">
								<img src="../static/images/portfolio/1.png" alt="work"
									class="img-fluid">
								<div class="overlay text-center">
									<div class="content">
										<h3>鸿游APP</h3>
										<p>SubTitle Here</p>
										<a href="../static/images/portfolio/1.jpg" class="image-link">
											<span class="fa fa-eye"></span>
										</a>
										<p></p>
										<a href="" class=""> <span
											class="fa fa-download"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
						Image-2
						<div class="col-lg-4 col-md-6 grid-item app">
							<div class="single-works-section-item">
								<img src="../static/images/portfolio/2.png" alt="work"
									class="img-fluid">
								<div class="overlay text-center">
									<div class="content">
										<h3>Title Here</h3>
										<p>SubTitle Here</p>
										<a href="../static/images/portfolio/1.jpg" class="image-link">
											<span class="fa fa-eye"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
						Image-3
						<div class="col-lg-4 col-md-6 grid-item wechat">
							<div class="single-works-section-item">
								<img src="../static/images/portfolio/3.jpg" alt="work"
									class="img-fluid">
								<div class="overlay text-center">
									<div class="content">
										<h3>Title Here</h3>
										<p>SubTitle Here</p>
										<a href="../static/images/portfolio/1.jpg" class="image-link">
											<span class="fa fa-eye"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
						Image-4
						<div class="col-lg-4 col-md-6 grid-item wechat">
							<div class="single-works-section-item">
								<img src="../static/images/portfolio/4.jpg" alt="work"
									class="img-fluid">
								<div class="overlay text-center">
									<div class="content">
										<h3>Title Here</h3>
										<p>SubTitle Here</p>
										<a href="../static/images/portfolio/1.jpg" class="image-link">
											<span class="fa fa-eye"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
						Image-5
						<div class="col-lg-4 col-md-6 grid-item web">
							<div class="single-works-section-item">
								<img src="../static/images/portfolio/5.jpg" alt="work"
									class="img-fluid">
								<div class="overlay text-center">
									<div class="content">
										<h3>Title Here</h3>
										<p>SubTitle Here</p>
										<a href="../static/images/portfolio/1.jpg" class="image-link">
											<span class="fa fa-eye"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
						Image-6
						<div class="col-lg-4 col-md-6 grid-item web">
							<div class="single-works-section-item">
								<img src="../static/images/portfolio/6.jpg" alt="work"
									class="img-fluid">
								<div class="overlay text-center">
									<div class="content">
										<h3>Title Here</h3>
										<p>SubTitle Here</p>
										<a href="../static/images/portfolio/1.jpg" class="image-link">
											<span class="fa fa-eye"></span>
										</a>
									</div>
								</div>
							</div>
						</div> -->

					</div>
				</div>
			</div>
		</div>
		<div id="blog-section" class="blog panel">
			<div class="section-container">
				<div class="page-heading container">
					<span class="icon"><i class="fa fa-newspaper-o"></i></span>
					<h2>My Blog</h2>
				</div>
				<div class="container">
					<div class="row" id="blog">
						<!-- Post-1 -->
						<!-- <div class="col-md-6 col-lg-4">
							<div class="box">
								<div class="image">
									<img src="../static/images/blog/1.png" alt="blog post"> <a
										href="" class="tags">Branding</a>
								</div>
								<div class="text">
									<h3>
										<a href="">Let's start with the main HTML layout</a>
									</h3>
									<h4>By John Doe, Aout 01, 2018</h4>
									<p>Lorem Ipsum has been standard. Lorem Ipsum is simply
										text of the printing and typesetting industry. Lorem Ipsum has
										been</p>
								</div>
							</div>
						</div>
						Post-2
						<div class="col-md-6 col-lg-4">
							<div class="box">
								<div class="image">
									<img src="../static/images/blog/2.jpeg" alt="blog post">
									<a href="" class="tags">Design</a>
								</div>
								<div class="text">
									<h3>
										<a href="">Best Design Theme Wordpress in 2018</a>
									</h3>
									<h4>By John Doe, Aout 01, 2018</h4>
									<p>Lorem Ipsum has been standard. Lorem Ipsum is simply
										text of the printing and typesetting industry. Lorem Ipsum has
										been</p>
								</div>
							</div>
						</div>
						Post-3
						<div class="col-md-6 col-lg-4">
							<div class="box">
								<div class="image">
									<img src="../static/images/blog/3.jpeg" alt="blog post">
									<a href="" class="tags">Coding</a>
								</div>
								<div class="text">
									<h3>
										<a href="">How To Build A Freamwork scratch</a>
									</h3>
									<h4>By John Doe, Aout 01, 2018</h4>
									<p>Lorem Ipsum has been standard. Lorem Ipsum is simply
										text of the printing and typesetting industry. Lorem Ipsum has
										been</p>
								</div>
							</div>
						</div>
						Post-3
						<div class="col-md-6 col-lg-4">
							<div class="box">
								<div class="image">
									<img src="../static/images/blog/4.jpeg" alt="blog post">
									<a href="" class="tags">Devlompement</a>
								</div>
								<div class="text">
									<h3>
										<a href="">How To Build A Freamwork scratch</a>
									</h3>
									<h4>By John Doe, Aout 01, 2018</h4>
									<p>Lorem Ipsum has been standard. Lorem Ipsum is simply
										text of the printing and typesetting industry. Lorem Ipsum has
										been</p>
								</div>
							</div>
						</div>
						Post-3
						<div class="col-md-6 col-lg-4">
							<div class="box">
								<div class="image">
									<img src="../static/images/blog/5.png" alt="blog post"> <a
										href="" class="tags">Web</a>
								</div>
								<div class="text">
									<h3>
										<a href="http://www.bootstrapmb.com/">The result of this
											tutorial will be working </a>
									</h3>
									<h4>By John Doe, Aout 01, 2018</h4>
									<p>Lorem Ipsum has been standard. Lorem Ipsum is simply
										text of the printing and typesetting industry. Lorem Ipsum has
										been</p>
								</div>
							</div>
						</div>
						Post-3
						<div class="col-md-6 col-lg-4">
							<div class="box">
								<div class="image">
									<img src="../static/images/blog/6.jpeg" alt="blog post">
									<a href="" class="tags">Coding</a>
								</div>
								<div class="text">
									<h3>
										<a href="">How To Build A Freamwork scratch</a>
									</h3>
									<h4>By John Doe, Aout 01, 2018</h4>
									<p>Lorem Ipsum has been standard. Lorem Ipsum is simply
										text of the printing and typesetting industry. Lorem Ipsum has
										been</p>
								</div>
							</div>
						</div> -->

					</div>
				</div>

			</div>
		</div>
		<div id="contacts-section" class="panel contact">
			<div class="section-container">
				<div class="page-heading container">
					<span class="icon"><i class="fa fa-envelope"></i></span>
					<h2>Contact Me</h2>
				</div>

				<div class="container">
					<div class="row">
						<div class="col-md-8">

							<form>
								<div class="row">
									<div class="col-sm-6">
										<input type="text" class="form-control" placeholder="Name"
											id="username">
									</div>
									<div class="col-sm-6">
										<input type="text" class="form-control"
											placeholder="Email/Phone/QQ/Wechat" id="contact">
									</div>
									<div class="col-sm-12">
										<input type="text" class="form-control" placeholder="Subject"
											id="subject">
									</div>
								</div>
								<div class="form-group">
									<textarea class="form-control" rows="5" placeholder="Message"
										id="message"></textarea>
								</div>
								<button class="btn btn-block" type="submit" id="submit">Send
									Now!</button>
							</form>
						</div>
						<div class="col-md-4">
							<div class="info">
								<span class="fa fa-map-marker"></span>
								<p>Lane 1458, Gulou Road, Seshan Town, Songjiang District,
									Shanghai</p>

								<span class="fa fa-mobile"></span>
								<p>
									(+86) 18817843667 <br /> (+86) 18516031703
								</p>

								<span class="fa fa-at"></span>
								<p>
									18817843667@163.com <br /> 781232518@qq.com
								</p>

							</div>
						</div>
					</div>
				</div>

			</div>
		</div>



	</div>
	<!-- End .Page -->

	<!-- Main Scripts -->
	<script src="../static/js/global.js"></script>
	<script src="../static/js/home.js"></script>
</body>
</html>